In [9]:
from ammm_project.parsers.dat import parse
from ammm_project.problem import Problem


with open("../instances/knapsack-50-1.dat", "r") as f:
    knapsack_50_dat = parse(f)

with open("../instances/bin_packing-50-1.dat", "r") as f:
    bin_packing_50_dat = parse(f)

with open("../instances/mix-50-1.dat", "r") as f:
    mix_50_dat = parse(f)


# Make 3 instance of the problem

knapsack_50_problem = Problem.from_dat(knapsack_50_dat)
bin_packing_50_problem = Problem.from_dat(bin_packing_50_dat)
mix_50_problem = Problem.from_dat(mix_50_dat)

problems = {
    "knapsack_50": knapsack_50_problem,
    "bin_packing_50": bin_packing_50_problem,
    "mix_50": mix_50_problem,
}

In [10]:
from ammm_project.greedy import greedy_search
from ammm_project.greedy_functions import qs


results = []

for instance, problem in problems.items():
    for q_name, q in qs.items():
        result = greedy_search(problem, q)
        results.append((instance, q_name, result.value))

In [11]:
import pandas as pd

df = pd.DataFrame(results, columns=["instance", "q", "value"])
df

          instance                  q  value
0      knapsack_50               side   1472
1      knapsack_50             weight    987
2      knapsack_50              price   1927
3      knapsack_50       price_weight   2011
4      knapsack_50         price_side   1927
5      knapsack_50      price_density   2011
6      knapsack_50        weight_area    987
7      knapsack_50  price_weight_area   2011
8   bin_packing_50               side   4973
9   bin_packing_50             weight   4973
10  bin_packing_50              price   4973
11  bin_packing_50       price_weight   3556
12  bin_packing_50         price_side   4973
13  bin_packing_50      price_density   2656
14  bin_packing_50        weight_area   3556
15  bin_packing_50  price_weight_area   2656
16          mix_50               side   4945
17          mix_50             weight   4141
18          mix_50              price   5137
19          mix_50       price_weight   5136
20          mix_50         price_side   5083
21          mix_50      price_density   5102
22          mix_50        weight_area   4810
23          mix_50  price_weight_area   5090

In [12]:
pivot = df.pivot(index="instance", columns="q", values="value")
pivot.T

instance           bin_packing_50  knapsack_50  mix_50
q
price                        4973         1927    5137
price_density                2656         2011    5102
price_side                   4973         1927    5083
price_weight                 3556         2011    5136
price_weight_area            2656         2011    5090
side                         4973         1472    4945
weight                       4973          987    4141
weight_area                  3556          987    4810

In [13]:
# Load all files in reference/*.dat

import os

reference_problems = {}

for filename in os.listdir("../reference/"):
    if not filename.endswith(".dat"):
        continue

    with open(f"../reference/{filename}", "r") as f:
        dat = parse(f)
        problem = Problem.from_dat(dat)
        reference_problems[filename] = problem

In [14]:
reference_results = []

for instance, problem in reference_problems.items():
    for q_name, q in qs.items():
        print(instance, q_name)
        result = greedy_search(problem, q)
        reference_results.append((instance, q_name, result.value))

project.9.dat side
project.9.dat weight
project.9.dat price
project.9.dat price_weight
project.9.dat price_side
project.9.dat price_density
project.9.dat weight_area
project.9.dat price_weight_area
project.8.dat side
project.8.dat weight
project.8.dat price
project.8.dat price_weight
project.8.dat price_side
project.8.dat price_density
project.8.dat weight_area
project.8.dat price_weight_area
project.5.dat side
project.5.dat weight
project.5.dat price
project.5.dat price_weight
project.5.dat price_side
project.5.dat price_density
project.5.dat weight_area
project.5.dat price_weight_area
project.4.dat side
project.4.dat weight
project.4.dat price
project.4.dat price_weight
project.4.dat price_side
project.4.dat price_density
project.4.dat weight_area
project.4.dat price_weight_area
project.6.dat side
project.6.dat weight
project.6.dat price
project.6.dat price_weight
project.6.dat price_side
project.6.dat price_density
project.6.dat weight_area
project.6.dat price_weight_area
project.7.dat side
project.7.dat weight
project.7.dat price
project.7.dat price_weight
project.7.dat price_side
project.7.dat price_density
project.7.dat weight_area
project.7.dat price_weight_area
project.3.dat side
project.3.dat weight
project.3.dat price
project.3.dat price_weight
project.3.dat price_side
project.3.dat price_density
project.3.dat weight_area
project.3.dat price_weight_area
project.2.dat side
project.2.dat weight
project.2.dat price
project.2.dat price_weight
project.2.dat price_side
project.2.dat price_density
project.2.dat weight_area
project.2.dat price_weight_area
project.0.dat side
project.0.dat weight
project.0.dat price
project.0.dat price_weight
project.0.dat price_side
project.0.dat price_density
project.0.dat weight_area
project.0.dat price_weight_area
project.1.dat side
project.1.dat weight
project.1.dat price
project.1.dat price_weight
project.1.dat price_side
project.1.dat price_density
project.1.dat weight_area
project.1.dat price_weight_area

In [15]:

df_reference = pd.DataFrame(reference_results, columns=["instance", "q", "value"])
df_reference

         instance                  q  value
0   project.9.dat               side     27
1   project.9.dat             weight     27
2   project.9.dat              price     29
3   project.9.dat       price_weight     29
4   project.9.dat         price_side     28
..            ...                ...    ...
75  project.1.dat       price_weight     11
76  project.1.dat         price_side     11
77  project.1.dat      price_density     11
78  project.1.dat        weight_area      8
79  project.1.dat  price_weight_area      8

[80 rows x 3 columns]

In [16]:
# Pivot table
pivot_reference = df_reference.pivot(index="instance", columns="q", values="value")
pivot_reference

q,price,price_density,price_side,price_weight,price_weight_area,side,weight,weight_area
instance,,,,,,,,
project.0.dat,7,6,7,8,6,7,7,6
project.1.dat,11,11,11,11,8,11,10,8
project.2.dat,11,11,11,11,8,11,9,8
project.3.dat,10,8,10,9,8,9,9,8
project.4.dat,16,14,16,16,14,16,16,14
project.5.dat,15,14,15,15,14,15,14,14
project.6.dat,16,13,16,16,13,17,16,13
project.7.dat,12,13,13,11,13,12,11,12
project.8.dat,34,31,32,33,31,35,34,31
project.9.dat,29,26,28,29,26,27,27,26

In [37]:
# Load all files in reference/*.dat

import os

reference_problems = {}

for filename in os.listdir("../instances/"):
    if not filename.endswith(".dat"):
        continue

    if not filename.startswith("mix-50"):
        continue

    with open(f"../instances/{filename}", "r") as f:
        dat = parse(f)
        problem = Problem.from_dat(dat)
        reference_problems[filename] = problem

In [38]:
reference_results = []

for instance, problem in reference_problems.items():
    for q_name, q in qs.items():
        print(instance, q_name)
        result = greedy_search(problem, q)
        reference_results.append((instance, q_name, result.value))

mix-50-1.dat side
mix-50-1.dat weight
mix-50-1.dat price
mix-50-1.dat price_weight
mix-50-1.dat price_side
mix-50-1.dat price_density
mix-50-1.dat weight_area
mix-50-1.dat price_weight_area
mix-50-3.dat side
mix-50-3.dat weight
mix-50-3.dat price
mix-50-3.dat price_weight
mix-50-3.dat price_side
mix-50-3.dat price_density
mix-50-3.dat weight_area
mix-50-3.dat price_weight_area
mix-50-2.dat side
mix-50-2.dat weight
mix-50-2.dat price
mix-50-2.dat price_weight
mix-50-2.dat price_side
mix-50-2.dat price_density
mix-50-2.dat weight_area
mix-50-2.dat price_weight_area

In [39]:

df_reference = pd.DataFrame(reference_results, columns=["instance", "q", "value"])
df_reference

        instance                  q  value
0   mix-50-1.dat               side   4945
1   mix-50-1.dat             weight   4141
2   mix-50-1.dat              price   5137
3   mix-50-1.dat       price_weight   5136
4   mix-50-1.dat         price_side   5083
5   mix-50-1.dat      price_density   5102
6   mix-50-1.dat        weight_area   4810
7   mix-50-1.dat  price_weight_area   5090
8   mix-50-3.dat               side   5027
9   mix-50-3.dat             weight   3921
10  mix-50-3.dat              price   5347
11  mix-50-3.dat       price_weight   5346
12  mix-50-3.dat         price_side   5329
13  mix-50-3.dat      price_density   5296
14  mix-50-3.dat        weight_area   5036
15  mix-50-3.dat  price_weight_area   5296
16  mix-50-2.dat               side   5057
17  mix-50-2.dat             weight   3718
18  mix-50-2.dat              price   5982
19  mix-50-2.dat       price_weight   5983
20  mix-50-2.dat         price_side   5854
21  mix-50-2.dat      price_density   5854
22  mix-50-2.dat        weight_area   5081
23  mix-50-2.dat  price_weight_area   5714

In [41]:
# Pivot table
pivot_reference = df_reference.pivot(index="instance", columns="q", values="value")
pivot_reference.T

instance           mix-50-1.dat  mix-50-2.dat  mix-50-3.dat
q
price                      5137          5982          5347
price_density              5102          5854          5296
price_side                 5083          5854          5329
price_weight               5136          5983          5346
price_weight_area          5090          5714          5296
side                       4945          5057          5027
weight                     4141          3718          3921
weight_area                4810          5081          5036